<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<form method="post" class="mt-2" style="margin-left:30%;margin-right:30%;">
  {% csrf_token %}
  <h1 class="text-center ">Add Employee</h1>
    <hr>
  <div class="form-group">
    <input type="text" class="form-control" name="firstname" aria-describedby="emailHelp" placeholder="Enter firstname">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="lastname" aria-describedby="emailHelp" placeholder="Enter lastname">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="address" aria-describedby="emailHelp" placeholder="Enter address">
  </div>
  <div class="form-group">
    <input type="date" class="form-control" name="dob" aria-describedby="emailHelp" placeholder="Enter dob">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="company" aria-describedby="emailHelp" placeholder="Enter Company">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="mobile" aria-describedby="emailHelp" placeholder="Enter Contact Number">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" name="city" aria-describedby="emailHelp" placeholder="Enter City">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>

 <center> <button type="submit" class="btn btn-primary pr-5 pl-5 ">Add</button></center>
</form>

</body>
</html>