<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    tr,th,td
    {
     border:1px solid;
     }
</style>
</head>

<body>
<form method="post" action="">
     {% csrf_token %}
<h2 class="text-center p-3"> Employee Details</h2>
<hr>
<table style="width:100%; " class="text-center">
    <tr><th>First Name</th><th>last Name</th><th>Email</th>
    <th>address</th><th>Date of Birth</th><th>Company</th><th>City</th><th>Mobile</th><th colspan="2"></th></tr>
    {% for employee in employees %}
    <tr><td>{{employee.first_name}}</td><td>{{employee.last_name}}</td><td>{{employee.email}}</td>
        <td>{{employee.address}}</td><td>{{employee.dob}}</td><td>{{employee.company}}</td><td>{{employee.city}}</td>
        <td>{{employee.mobile}}</td>
        <td><a href="{% url 'update_employee' employee.id %}" type="submit" value="{{employee.id}}" class="btn btn-warning pr-2 pl-2" name="update">Update</a> </td>
        <td><button type="submit" value="{{employee.id}}" class="btn btn-danger pr-2 pl-2" name="delete" >Delete</button> </td>
        </tr>
    {% endfor %}
</table>
<center><a href="{% url 'add_employee' %}" class="btn btn-success m-3" >Add New Employee</a> </center>
</form>
</body>
</html>