<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<form action="" method="post" class="form-group p-5" style="margin-left:30%;margin-right:30%;margin-top:10%; background:#90EE90;">
<h2 class="text-center p-3" style="color:white;background:green;">MANAGER LOGIN</h2>
<hr>
    {% if error %}
                <div class="alert alert-warning" role="alert">
                {{ error}}
                </div>
                {% endif %}
    <input type="text" class="form-control mb-4" name="email" placeholder="Email">

  {% csrf_token %}
     <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>

 <center> <button type="submit" class="btn btn-primary pr-5 pl-5 ">Login</button>
 <a href="{% url 'registration' %}"  class="btn btn-primary pr-5 pl-5 ">New User ?</a>
 </center>
</form>
</body>
</html>