<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<form method="post" class="mt-2 p-5" style="margin-left:30%;margin-right:30%;margin-top:10%; background:#90EE90;">
  {% csrf_token %}

  <h1 class="text-center " style="color:white;background:green;">SIGN UP HERE</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>
    {% if error %}
                <div class="alert alert-warning" role="alert">
                {{ error}}
                </div>
                {% endif %}
  <div class="form-group">
    <input type="text" class="form-control" value="{{values.fname}}" name="firstname" aria-describedby="emailHelp" placeholder="Enter firstname">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" value="{{values.lname}}" name="lastname" aria-describedby="emailHelp" placeholder="Enter lastname">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" value="{{values.address}}" name="address" aria-describedby="emailHelp" placeholder="Enter address">
  </div>
  <div class="form-group">
    <input type="date" class="form-control" value="{{values.dob}}" name="dob" aria-describedby="emailHelp" placeholder="Enter dob">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" value="{{values.company}}" name="company" aria-describedby="emailHelp" placeholder="Enter Company">
  </div>
  <div class="form-group">
    <input type="email" class="form-control" value="{{values.email}}" name="email" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" name="password" placeholder="Password">
  </div>

 <center> <button type="submit" class="btn btn-primary pr-5 pl-5 ">Registration</button>
   <a href="{% url 'login' %}"  class="btn btn-warning pr-2 pl-2" name="update">Login</a></center>

</form>
</body>
</html>